<html>
    <head>
        <title>rnakamura's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">rnakamura blog</a></h1>
        </div>

        <div>
            <p>published: 2020/06/08 00:15</p>
            <h2><a href="">My first post</a></h2>
            <p>TEST</p>
        </div>
        {{posts}}
        {% for post in posts %}
            <div>
                <p>published: {{post.published_date}}</p>
                <h2><a href="">{{post.title}}</a></h2>
                <p>{{post.text|linebreaksbr}}</p>
            </div>
        {% endfor %}
    </body>
</html>